:root {
    --intro-email-background: hsl(217, 28%, 15%);
    --main-background: hsl(218, 28%, 13%);
    --footer-background: hsl(216, 53%, 9%);
    --testimonials-background: hsl(219, 30%, 18%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --cyan-dark: hsl(184, 99%, 33%);
    --blue-dark: hsl(194, 90%, 35%);
    --lightRed: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%)
}

* {
    margin: 0;
}

body {
    
    background-color: var(--main-background);
}

main {
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 14rem 1.5rem 2.5rem 1.5rem;
    background-color: var(--footer-background);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

nav {
    padding: 1.5rem 1.25rem;
    transition: all 200ms ease-in-out;
}


nav ol {
    list-style-type: none;
    padding-left: 0;
}

a {
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

li a {
    text-decoration: none;
    color: var(--white);
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    transition: background-color 200ms ease-in-out;
    border-radius: 3rem;
}

li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 74px;
}

.nav-group {
    display: flex;
    gap: 1rem;
}

.nav-item {
    color: var(--white);
}

h1, h2, h3, h4, p {
    font-family: 'Raleway', sans-serif;
    color: var(--white);
    line-height: 1.5;
}

h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 1.125rem;
    padding-bottom: 1rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
}

header {
    text-align: center;
    max-width: 48rem;
}

header p {
    padding-bottom: 2rem;
}

header img {
    padding-top: 4.5rem;
}

.hero-img {
    width: 100%;
    max-width: 32rem;
}

.bg-wave {
    width: 100%
}

.btn {
    max-width: 17.5rem;
    width: 100%;
    height: 3rem;
    background: linear-gradient(90deg, var(--cyan) 0%, var(--blue) 100%);
    color: var(--white);
    border: none;
    border-radius: 10rem;
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.btn:hover {
    background: linear-gradient(90deg, var(--cyan-dark) 0%, var(--blue-dark) 100%);

}

.btn-wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.value-props-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 1rem;
    place-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
    max-width: 54rem;
}

.value-prop {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    max-width: 24rem;
}

.value-prop img {
    padding-bottom: 1.75rem;
}

.value-prop p {
    text-wrap: balance;
}

.stay-productive-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 1.75rem;
    max-width: 80rem;
}

.stay-productive-section img {
    max-width: 38rem;
}

.stay-productive-section p {
    padding-bottom: 1rem;
}

.stay-productive-copy {
    text-wrap: balance;
}

.quotes-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    position: relative;
    justify-content: center;
    margin-top: 11rem;
    margin-bottom: 11rem;
}

.quote-card {
    border-radius: 0.25rem;
    padding: 1.25rem;
    background-color: var(--testimonials-background);
}

.quote-copy {
    font-size: 0.625;
    line-height: 180%;
}

.quote-card .avatar-img {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1.5rem;
}

.quotes-img {
    position: absolute;
    z-index: -1;
    top: -1.5rem;
    height: 1.5rem;
    left: 0.5rem;
}

.avatar-name {
    font-size: 0.6875rem;
    font-weight: 600;
    letter-spacing: 0.0625em;
}

.avatar-title {
    font-size: 0.5rem;
}

.avatar-wrapper {
    display: flex;
    gap: 0.5rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
}

.early-access-prompt {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    background-color: var(--intro-email-background);
    border-radius: 0.625rem;
    max-width: 44rem;
    text-align: center;
    position: absolute;
    top: -30%;
}

.early-access-prompt p {
    padding-bottom: 2rem;
}

#email-input {
    height: 3rem;
    border-radius: 3rem;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.email-input-group {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    width: 100%;
}

.footer-wrapper {
    max-width: 80rem;
}

.footer-logo {
    padding-bottom: 2.5rem;
}

.footer-contents {
    display: flex;
    flex-direction: column;
}

.social-icons {
    display: flex;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

@media (min-width: 600px) {
    nav {
        padding: 4.5rem 4rem 0rem 4rem;
    }

    .nav-logo {
        width: 176px;
    }
    li a {
        font-size: 1rem;
        padding: 0.5rem 1.25rem;
    }
    
    h1 {
        font-size: 2.5rem;
        line-height: 1.5;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 1.25;
    }

    header p {
        font-size: 1.25rem;
    }

    .btn {
        height: 3.5rem;
        font-size: 1rem;
    }

    .value-props-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }

    .quote-card {
        max-width: 22.5rem;
    }

    .stay-productive-section {
        flex-direction: row;
        gap: 3rem;
        align-items: center;
    }

    .stay-productive-section img .stay-productive-copy {
        flex-direction: row;
        width: 50%;
    }

    .early-access-prompt {
        padding: 3rem 5rem 2.5rem 5rem;
    }

    .early-access-prompt h2 {
        font-size: 2rem;
    }

    #email-input {
        height: 3.5rem;
        width: 100%;
    }

    .email-input-group {
        flex-direction: row;
        gap: 1.75rem;
    }

    .footer-contents {
        flex-direction: row;
    }

    .footer-logo {
        padding-bottom: 2rem;
    }

  }